
/*CSS:nth-child(odd) Selector*/

.parent {
    background: #f1f1f1;
    border: 1px solid black;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.child {
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.child:nth-child(odd) {
    background: red;
}